<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdxb.springbootexample.dao.FinancialGoalDao">

    <!-- 映射实体类属性到数据库表列 -->
    <resultMap id="financialGoalMap" type="com.sdxb.springbootexample.entity.FinancialGoal">
        <id column="GoalID" property="goalId" javaType="java.lang.Integer"/>
        <result column="UserID" property="userId" javaType="java.lang.Integer"/>
        <result column="Description" property="description" javaType="java.lang.String"/>
        <result column="TargetAmount" property="targetAmount" javaType="java.math.BigDecimal"/>
        <result column="CurrentAmount" property="currentAmount" javaType="java.math.BigDecimal"/>
        <result column="StartDate" property="startDate" javaType="java.util.Date"/>
        <result column="EndDate" property="endDate" javaType="java.util.Date"/>
    </resultMap>

    <!-- 查询所有财务目标 -->
    <select id="findAll" parameterType="java.lang.Integer" resultMap="financialGoalMap">
        SELECT * FROM FinancialGoal WHERE UserID = #{userId}
    </select>

    <!-- 根据ID查询财务目标 -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="financialGoalMap">
        SELECT * FROM FinancialGoal WHERE GoalID = #{goalId}
    </select>

    <!-- 添加新的财务目标 -->
    <insert id="insert" parameterType="com.sdxb.springbootexample.entity.FinancialGoal"
            useGeneratedKeys="true" keyProperty="goalId">
        INSERT INTO FinancialGoal (UserID, Description, TargetAmount, CurrentAmount, StartDate, EndDate)
        VALUES (#{userId}, #{description}, #{targetAmount}, #{currentAmount}, #{startDate}, #{endDate})
    </insert>


    <!-- 更新财务目标 -->
    <update id="update" parameterType="com.sdxb.springbootexample.entity.FinancialGoal">
        UPDATE FinancialGoal
        SET
            UserID = #{userId},
            Description = #{description},
            TargetAmount = #{targetAmount},
            CurrentAmount = #{currentAmount},
            StartDate = #{startDate},
            EndDate = #{endDate}
        WHERE GoalID = #{goalId}
    </update>

    <!-- 根据ID删除财务目标 -->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM FinancialGoal WHERE GoalID = #{goalId}
    </delete>

</mapper>