<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

</beans>

        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="microservices.project.target.mapper.NotificationMapper">
  <insert id="insert" parameterType="microservices.project.target.entity.Notification">
    INSERT INTO Notifications(userId, message, type, status, sendTime)
    VALUES(#{userId}, #{message}, #{type}, #{status}, #{sendTime})
  </insert>

  <select id="selectById" resultType="microservices.project.target.entity.Notification">
    SELECT * FROM Notifications WHERE notificationId = #{notificationId}
  </select>

  <update id="updateById" parameterType="microservices.project.target.entity.Notification">
    UPDATE Notifications SET message = #{message}, type = #{type}, status = #{status}, sendTime = #{sendTime}
    WHERE notificationId = #{notificationId}
  </update>

  <delete id="deleteById">
    DELETE FROM Notifications WHERE notificationId = #{notificationId}
  </delete>

  <select id="selectAll" resultType="microservices.project.target.entity.Notification">
    SELECT * FROM Notifications
  </select>
</mapper>
